.idea
.env
**.pyc
**.sql
**.ipynb
staticfiles/
icons/
celerybeat-schedule
**.csv
markdownx
compress_staticfiles
.temp/
**.json
**.sh
common_icons/
sample*
dust-bin/
.run/
sql-dump/
*do_not_delete*
*.env.*
.coverage
.coverage-html/